/* Gaya CSS */
:root {
	--primary_one: #4b5320;
	--primary_two: white;
	--primary_three: black;
	--primary_four: #808080;
	--hero_beforebg: rgba(255, 255, 255, 0.1);
	--hero_afterbg: rgba(255, 255, 255, 1);
	--navbar-bg: rgba(255, 255, 255, 0.65);
}

html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
}

body {
	font-family: "Poppins", sans-serif;
	background-color: var(--primary_two);
	color: var(--primary_three);
}

/* navbar */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 7%;
	background-color: var(--navbar-bg);
	border-bottom: 1px solid var(--primary_one);
	box-shadow: 0px 2px 4px rgba(128, 128, 128, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
}
.navbar .navbar-logo {
	font-size: 2rem;
	font-weight: 700;
	color: var(--primary_four);
	font-style: italic;
}
.navbar .navbar-logo span {
	color: var(--primary_one);
}
.navbar-nav {
	display: flex;
	justify-content: center;
	align-items: center;
}
.navbar .navbar-nav a {
	color: var(--primary_three);
	display: inline-block;
	font-size: 1.3rem;
	margin: 0.5rem;
	margin-top: 1rem;
}
.navbar .navbar-nav a:hover {
	color: var(--primary_one);
	opacity: 1;
}
.navbar .navbar-nav a::after {
	content: "";
	display: block;
	padding-bottom: 0.5rem;
	border-bottom: 0.1rem solid var(--primary_one);
	transform: scaleX(0);
	transition: 0.2s linier;
}
.navbar .navbar-nav a:hover::after {
	transform: scaleX(0.5);
}
.navbar-theme {
	position: absolute;
	right: 3rem;
	width: fit-content;
	display: flex;
	align-items: center;
}

/* Gaya umum untuk label tombol switch */
.switch {
	margin: 0 5px;
	position: relative;
	display: inline-block;
	width: 3rem;
	height: 1.5rem;
}

/* Gaya untuk input checkbox tersembunyi */
.switch input[type="checkbox"] {
	opacity: 0;
	width: 0;
	height: 0;
}

/* Gaya untuk slider tombol switch */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--primary_four);
	transition: 0.4s;
	border-radius: 1rem;
}

/* Gaya saat tombol switch diaktifkan */
.slider::before {
	position: absolute;
	content: "";
	height: 1.5rem;
	width: 1.5rem;
	border-radius: 50%;
	background-color: white;
	transition: 0.4s;
	transform: translateX(0);
}

/* Gaya saat tombol switch diaktifkan */
input:checked + .slider {
	background-color: var(--primary_one);
}

/* Gaya untuk tampilan tombol switch saat diaktifkan */
input:checked + .slider::before {
	transform: translateX(1.5rem);
}

.navbar .navbar-button a {
	color: var(--primary_two);
}
.navbar .navbar-button a:hover {
	color: var(--primary_one);
}

#ham-menu {
	display: none;
	color: var(--primary_three);
}

/* Hero Section */
.hero {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("../assets/img/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}
.hero::before {
	content: "";
	display: block;
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: var(--hero_beforebg);
}
.hero::after {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 30%;
	bottom: 0;
	background: linear-gradient(
		0deg,
		var(--hero_afterbg) 8%,
		rgba(255, 255, 255, 0) 25%
	);
}
.hero .content {
	padding: 1.4rem 7%;
	text-align: center;
	z-index: 2;
}
.hero .content h1 {
	font-size: 5rem;
	color: #fff;
	text-shadow: 1px 1px 3px black;
	line-height: 1.2;
}
.hero .content h1 span {
	color: var(--primary_one);
	text-shadow: 1px 1px 3px white;
}
.hero .content p {
	color: white;
	font-size: 1.6rem;
	margin-top: 1rem;
	line-height: 1.4;
	font-weight: 300;
	text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
.hero .content .member {
	color: #fff;
	display: inline-block;
	padding: 0.5rem 2rem;
	margin-top: 1rem;
	font-size: 1.4rem;
	background-color: var(--primary_one);
	border-radius: 0.5rem;
	box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* About section */

.about {
	padding: 8.5rem 7% 1rem;
	text-align: center;
}
.about::after,
.family::after {
	content: "";
	display: block;
	margin: 10% 20% 0;
	width: 60%;
	height: 10%;
	border-bottom: 1px solid var(--primary_three);
}
.about h2,
.event h2,
.family h2 {
	font-size: 3rem;
	color: var(--primary_three);
}
.about h2 span,
.family h2 span,
.event h2 span {
	color: var(--primary_one);
}
.about .row .about-img img {
	padding: 2rem;
}
.about .row .content h3 {
	font-size: 3rem;
}
.about .row .content h3 span {
	color: var(--primary_one);
}
.about .row .content p {
	padding: 0 5rem;
	text-align: justify;
	margin-top: 5rem;
	margin-bottom: 2rem;
	font-size: 1.5rem;
}

/* Family section */
.family {
	width: 100%;
	color: var(--primary_three);
	padding: 8.5rem 7% 2rem;
	text-align: center;
	min-height: 100vh;
	display: inline-block;
	align-items: center;
	position: relative;
}
.family h2 {
	padding-top: 2rem;
}
.walkes {
	margin: auto;
	position: relative;
	width: fit-content;
}
.walkes img {
	margin-top: 4rem;
	width: 18rem;
	padding: 3px;
	border-radius: 100vw;
	border: 1px solid var(--primary_three);
}
.walkes h4 {
	font-size: 1.5rem;
}
.family .row {
	margin-top: 2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.family .murid {
	margin: 2rem 2rem 1rem;
	width: 17.5rem;
	height: auto;
}
.murid {
	text-align: center;
}
.murid h4 {
	font-size: 1.2rem;
}
.murid p {
	font-size: 1rem;
}
.murid img {
	width: 13rem;
	padding: 3px;
	border: 1px solid var(--primary_three);
	border-radius: 50%;
}
.murid img.loading {
	animation: loaderAnimation 1.5s infinite ease-in-out;
}

@keyframes loaderAnimation {
	0% {
		opacity: 0.6;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.6;
	}
}

/* Event */
.event {
	padding: 8.5rem 7% 1rem;
	text-align: center;
	min-height: 1000px;
	background-color: var(--primary_two);
}
.timeline {
	position: relative;
	max-width: 1200px;
	margin: 100px auto;
}
.container {
	padding: 1rem 3rem;
	position: relative;
	width: 50%;
	border-radius: 5px;
	animation: movedown 1s linear forwards;
	opacity: 0;
	z-index: 1;
}
.container::before {
	content: "";
	position: absolute;
	z-index: -2;
	top: 0.97rem;
	right: 2.97rem;
	bottom: 0.97rem;
	left: 2.97rem;
	box-shadow: 1px 1px 3px var(--primary_three);
	border-radius: 10px;
}
.left-container::before {
	box-shadow: -1px 1px 3px var(--primary_three);
}
@keyframes movedown {
	0% {
		opacity: 1;
		transform: translateY(-30px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
.container:nth-child(1) {
	animation-delay: 0s;
}
.container:nth-child(2) {
	animation-delay: 1s;
}
.container:nth-child(3) {
	animation-delay: 2s;
}
.container:nth-child(4) {
	animation-delay: 3s;
}
.container:nth-child(5) {
	animation-delay: 4s;
}
.container:nth-child(6) {
	animation-delay: 5s;
}
.container:nth-child(7) {
	animation-delay: 6s;
}
.container:nth-child(8) {
	animation-delay: 7s;
}
.text-box {
	text-align: left;
	color: black;
	padding: 1rem 2rem;
	background: white;
	position: relative;
	border-radius: 10px;
	font-size: 1rem;
}
.container .text-box img {
	position: relative;
	width: 80%;
	height: 50%;
	border: none;
	border-radius: 0;
}
.left-container {
	left: 0;
}
.right-container {
	left: 50%;
}
.container img {
	width: 40px;
	height: 40px;
	position: absolute;
	border-radius: 50%;
	background-color: #fff;
	right: -20px;
	top: 32px;
	z-index: 10;
	border: 3px solid var(--primary_one);
}
.right-container img {
	left: -20px;
}
.timeline::after {
	content: "";
	position: absolute;
	width: 4px;
	height: 100%;
	background-color: var(--primary_three);
	top: 0;
	left: 50%;
	margin-left: -3px;
	z-index: 0;
	animation: moveline 6s linear forwards;
}
@keyframes moveline {
	0% {
		height: 0;
	}
	100% {
		height: 100%;
	}
}

.text-box h3,
.modal-content-text h3 {
	font-weight: 600;
	font-size: 1.7rem;
}
.text-box small {
	display: inline-block;
	margin-bottom: 15px;
}
.text-box a {
	color: white;
	display: block;
	font-size: 1.3rem;
	padding: 5px;
	background-color: var(--primary_one);
	margin-top: 1rem;
	width: fit-content;
	border-radius: 5px;
}
.left-container-arrow {
	height: 0;
	width: 0;
	position: absolute;
	top: 28px;
	z-index: 1;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid var(--primary_one);
	right: -15px;
}
.right-container-arrow {
	height: 0;
	width: 0;
	position: absolute;
	top: 28px;
	z-index: 1;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 15px solid var(--primary_one);
	left: -15px;
}

/* Documentation */
.documentation {
	padding: 0 7%;
	width: 100%;
	width: 100%;
	position: relative;
}
.documentation h2 {
	text-align: center;
	font-size: 3rem;
	color: var(--primary_three);
}
.video-player {
	margin: 3rem 1rem;
	display: flex;
	justify-content: center;
	border-radius: 10px;
}

/* Footer */
footer {
	background-color: var(--primary_one);
	text-align: center;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	font-size: 1.2rem;
}
footer .socials a {
	color: #fff;
	padding: 0 3px;
}
footer .socials a:hover {
	color: #000;
}
footer .links a,
footer .credits a {
	background-color: #964b00;
	border-radius: 5px;
	color: #000;
	padding: 5px 5px;
}
footer .links a:hover,
footer .credits a:hover {
	color: #808080;
}

/* Box Modal */
.box-modal {
	background-color: rgba(128, 128, 128, 0.7);
	display: none;
	position: fixed;
	z-index: 9999;
	align-items: center;
	justify-content: center;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.modal-container {
	position: relative;
	background-color: #fff;
	border: 3px solid #485211;
	border-radius: 10px;
	margin: 15% auto;
	padding: 1.2rem;
	width: 30%;
	animation: animateModal 0.5s;
}

/* Modal Animation */
@keyframes animateModal {
	from {
		top: -300%;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

.modal-container .close-icon {
	color: gray;
	pointer: cursor;
	position: absolute;
	right: 1rem;
}
.close-icon:hover {
	color: var(--primary-one)
}
.modal-content {
	color: #2c2a2a;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}
.modal-content-img {
	width: 100%;
	position: relative;
	order: 2;
}
.image-content {
	width: 100%;
	display: flex;
	align-items: center;
	overflow-x: hidden;
	position: relative;
}
.image-content .dragging img {
	cursor: grab;
	user-select: none;
}
.modal-content-img .btn {
	cursor: pointer;
	position: absolute;
	z-index: 1;
	color: rgba(255, 255, 255, 0.7);
}
.modal-content-img .btn:hover {
	color: rgba(255, 255, 255, 1);
}
#right {
	top: 45%;
	right: 1rem;
}
#left {
	top: 45%;
	left: 1rem;
}
.image-content img {
	width: 100%;
	height: 100%;
	padding: 1rem;
	border-radius: 2rem;
	flex-shrink: 0;
	flex-grow: 0;
}
.image-content img:last-child {
	margin: 0;
}
.modal-content-text {
	width: 100%;
	text-align: center;
	order: 1;
	flex-direction: column;
}

.modal-content {
	flex-wrap: wrap;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
	html {
		font-size: 75%;
	}
}
@media (max-width: 1050px) {
	.modal-container {
		width: 40%;
	}
}
/* Tablet */
@media (max-width: 768px) {
	html {
		font-size: 62.5%;
	}
	.modal-container {
		width: 50%;
	}
	#ham-menu {
		display: inline-block;
	}

	.navbar .navbar-nav {
		position: absolute;
		justify-content: flex-start;
		align-items: flex-start;
		top: 100%;
		right: -100%;
		background-color: #4d5320;
		width: 30rem;
		height: 100vh;
		flex-direction: column;
	}
	.navbar-theme {
		position: relative;
		color: white;
		left: 2rem;
	}
	input:checked + .slider {
		background-color: rgb(0, 0, 0, 0.6);
	}
	.navbar .navbar-nav.active {
		right: 0;
	}
	.navbar .navbar-button.active {
		color: #4b5320;
	}
	.navbar .navbar-nav a {
		color: rgb(255, 255, 255);
		display: block;
		margin: 1.5rem;
		padding: 0.5rem;
		font-size: 1.5rem;
	}
	.navbar .navbar-nav a:hover {
		color: #fff;
		opacity: 1;
	}
	.navbar .navbar-nav a::after {
		border-bottom: 1px solid #fff;
		transform-origin: 0 0;
	}
	.navbar .navbar-nav a:hover::after {
		transform: scaleX(0.14);
	}
	.about .row .about-img img {
		width: 75%;
	}
	.family .walkes h4 {
		font-size: 1.7rem;
	}
	.family .row .murid {
		width: 20rem;
	}
	.murid img {
		width: 15rem;
	}
	.family .murid h4 {
		font-size: 1.5rem;
	}
	.family .murid p {
		font-size: 1.4rem;
	}
	.timeline {
		margin: 3rem;
	}
	.timeline::after {
		left: 31px;
	}
	.container {
		width: 100%;
		padding-left: 80px;
		padding-right: 25px;
	}
	.container::before,
	.left-container::before {
		left: 80px;
		right: 25px;
	}
	.left-container::before {
		box-shadow: 1px 1px 3px var(--primary_three);
	}
	.container img {
		left: 10px;
	}
	.container .text-box h3 {
		font-size: 1.7rem;
	}
	.container .text-box small {
		font-size: 1.2rem;
	}
	.container .text-box a {
		font-size: 1.5rem;
		width: 8.5rem;
		text-align: center;
	}
	.left-container-arrow {
		border-left: 0;
		border-right: 15px solid var(--primary_one);
		left: -15px;
	}
	.right-container {
		left: 0;
	}
}
/* Mobile Phone */
@media (max-width: 600px) {
	html {
		font-size: 55%;
	}
	.modal-container {
		width: 60%;
	}
}
